.chart-symbol{
    -fx-shape: "M0 0 L0 50 L50 50 L50 0 Z";
    -fx-background-color: #000000;
    -fx-background-radius: 0;
    -fx-padding: 1px ;
}

.default-color0.chart-series-line { -fx-stroke: transparent; }
.default-color1.chart-series-line { -fx-stroke: red; }

.default-color0.chart-line-symbol {
    -fx-shape: "M0 0 L0 50 L50 50 L50 0 Z";
    -fx-background-color: #000000;
    -fx-background-radius: 0;
    -fx-padding: 1px ;
}
.default-color1.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}

.default-color0.chart-legend-item-symbol{
    -fx-background-color: green;
}
.default-color1.chart-legend-item-symbol{
    -fx-background-color: red;
}